@{ ViewBag.Title = "Votus: Admin Console"; }

<button id="RepublishEventsButton" data-bind="click: republishEvents">Republish Events</button>

@section Scripts {
    <script type="text/javascript">
        var AdminConsoleViewModel = function() {
            this.republishEvents = function() {
                votusApi.eventStore.republishEvents(
                    function() {
                        //alert('Success!');
                    },
                    function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ' ' + errorThrown);
                    }
                );
            };
        }

        $(function () {
            ko.applyBindings(new AdminConsoleViewModel());
        });
    </script>
}